---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE } from '../config'
import { toISO, toLocaleDate } from '../utils'

const posts = await Astro.glob('./*.md')
const filterPosts = posts.filter(post => !post.frontmatter.page)
---

<BaseLayout title={SITE.title}>
  {
    filterPosts.map(post => (
      <div class="mb-7">
        <h2 class="md:mb-1 md:mt-0">
          <a href={post.url}>{post.frontmatter.title}</a>
        </h2>
        <time datetime={toISO(post.frontmatter.date)} class="text-base italic text-gray-500">
          Diterbitkan pada {toLocaleDate(post.frontmatter.date)}
        </time>
      </div>
    ))
  }
</BaseLayout>
