---
import BaseLayout from './BaseLayout.astro'
import { SITE } from '../config'

export interface Props {
  content: {
    title: string
  }
}

const {
  content: { title },
} = Astro.props

const renderTitle = `${title} | ${SITE.title}`
---

<BaseLayout title={renderTitle}>
  <article>
    <h1>{title}</h1>
    <span class="text-base italic text-gray-500">Ditulis oleh {SITE.author.name}</span>
    <slot />
  </article>
</BaseLayout>
